.select {
  position: relative;
}

.select__picker {
  position: relative;
  border: 1px solid #ccd3e4;
  background-color: #fff;

  overflow: hidden;
  cursor: pointer;
}

.select__caret {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;

  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  transition: -webkit-transform 0.2s ease-out 0s;
  transition: transform 0.2s ease-out 0s;
  transition: transform 0.2s ease-out 0s,-webkit-transform 0.2s ease-out 0s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}

.select:hover .select__picker,
.select.active .select__picker {
  background-color: #fafbfc;
  border: solid 1px #7892cd;
}

.select.active .select__caret {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select.disabled .select__picker {
  border-color: #ccd3e4;
  color: #999;
  cursor: default;
}

.select__dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  border: 1px solid #ccd3e4;
  background-color: #fff;
  box-sizing: border-box;

  z-index: 200;
  display: none;
}

.select__dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select__dropdown li {
  border-bottom: 1px dashed #ccd3e4;
  cursor: pointer;
}
.select__dropdown li:last-child {
  border-bottom: none;
}

.select__dropdown li:hover,
.select__dropdown li.selected {
  background-color: #e3e3e3;
  color: #f60;
}